video {
  display: none;
}

.DebugCanvas {
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 200px);
}

#VideoSource {
  display: block;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.Debugger {
  bottom: 0;
  z-index: 3;
  text-align: left;
  position: absolute;
  font-size: 2rem;
  color: pink;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
  padding: 1rem;
}

.Page {
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 100vh
}

.App { 
  position: absolute;
  width: 100vw;
  height: 100vh
}
